<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>{PAGE_TITLE}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {CSS_CALLS} {OPENGRAPH}
    <link rel="stylesheet" href="/theme/styles.css?{ASSETS_VERSION}" />
  </head>
  <body>
    <header class="header">
      <h1 class="site-title">Opération Bol d'air</h1>
    </header>

    <main class="main">
      {PAGE_CONTENT}
    </main>

    <footer>
      <p class="text-center">&copy; {SITE_TITLE}</p>
      <p class="text-center">
        <a href="http://www.biblys.fr/" target="_blank">
          <img src="/assets/images/propulse-par-biblys.png" alt="Propulsé par Biblys" />
        </a>
      </p>
    </footer>

    {JS_CALLS}
  </body>
</html>
